

body {
  position: relative;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #f2f2f2;
  background-color: #1B1B1B;
  background-position: center;
}

button {
  font: 2vw Montserrat, sans-serif;
  color: black;
  background-color: rgba(255, 239, 155, 0.9);
  border: #FFDA1A 1px solid;
  border-radius: 2vw;
  min-width: 150px;
  min-height: 25px;
  width: 40vw;
  height: 4vw;
  max-width: 400px;
  max-height: 40px;
  font-size: min(20px, 2vw);
  margin-top: 20px;
  margin-bottom: 20px;
  transition-duration: 0.2s;
}

button:hover{
  background-color: rgba(255, 239, 155, 0.9);
  transition-duration: 0.2s;
}

button:active {
  background-color: #FFEF9B;
  border: black 1px solid;
}

h1 {
  font-weight: 200;
  color: #FFEF9B;
}

dl svg {
  vertical-align: middle;
  margin-right: 10px;
  transition-duration: 1s;
}

iframe {
  margin-top: 20px;
  margin-bottom: 20px;
}

.idk svg{
  transform: rotate(180deg);
  transition-duration: 1s;
}

.idk .hide{
  display: none;
}

.hidden{
  display: none;
}

.lev {
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1408px;
  margin: 0 auto;
  padding: 0 15px;
}

.content p {
  margin-left: 20px;
}

.content dt {
  font-size: 24px;
  margin-bottom: 10px;
}

.content dt img {
  vertical-align: middle;
  margin-right: 10px;
  transition-duration: 0.2s;
}

.content dt:active img{
  transform: rotate(180deg);
}

.content dd{
  font-size: 22px;
  white-space: pre-wrap;
  margin-bottom: 15px;
}

.content {
  max-width: 800px;
}

.center {
   display: flex;
   align-items: center;
   justify-content: center;
}
.space-around {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.page-header, .page-footer{
  width: 100vw;
  margin: 0;
  padding: 10px 0;
  background-color: #B98D09;
}

.page-header a,
.page-footer a {
  font-size: max(1.5vw, 20px);
  padding-bottom: 10px;
  padding-top: 9px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
  color: inherit;
}

.page-header a:focus,
.page-header a:hover,
.page-footer a:focus,
.page-footer a:hover {
  color: #ffe183;
}

.page-header a::after,
.page-footer a::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ffe183;
  transition: width 200ms;
}

.page-header a:hover::after,
.page-footer a:hover::after {
  width: 100%;
}

.header-insta,
.footer-insta {
  padding-left: 35px;
  background-image: url("img/insta.svg");
}

.header-vk,
.footer-vk {
  padding-left: 35px;
  background-image: url("img/vk.svg");
}